body {
    width: 100vw;
    height: 100wh;
    background-color: rgb(206, 182, 159);
}
.central {
    overflow:hidden;
    background-color: rgb(251, 246, 236);
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw 5vh 10vw;
    border-radius: 1rem;
    box-shadow: 0 0 0 1rem rgb(249, 252, 255);
    z-index: 3;
}
.central__header {
    display: flex;
    padding-top: 3vw;
}
.central__header__logo {
    padding-left: 7vw;
}
.central__header__navigation {
    padding-left: 10vw;
}
.central__header__navigation a {
    padding-left: 7vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.central__header__buttons {
    padding-left: 15vw;
    text-align: center;
}
.central__header__buttons button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: rgb(234, 231, 224) 0.15rem solid;
    cursor: pointer;
}
.central__header__buttons_bag {
    justify-content: center;
    align-items: center;
    background-color: rgba(28,28,28,0);
    background-image: url('../images/bag.svg');
    background-size: 1.8rem 1.8rem;
}
.central__header__buttons_person {
    justify-content: center;
    align-items: center;
    background-color: rgba(28,28,28,0);
    background-image: url('../images/person.svg');
    background-size: 1.7rem 1.7rem;
}
.central__central {
    display: flex;
    height: 28vw;
}
.central__central__left {
    width: 70vw;
    padding-left: 7vw;
    padding-top: 6vw;
}
.central__central__left span {
    color: rgb(236, 89, 64);
}
h1::before {
    content: "";
    position: absolute;
    left: 33.5vw;
    bottom: 58vh;
    width: 9rem;
    height: 0.5rem;
    transform: translateX(-50%);
    background: rgb(236, 89, 64, 0.5);
    z-index: 1;
}
.central__central__left h2 {
    color: rgb(236, 89, 64);
}
.central__central__left_btn {
    padding: 0.3rem 0 0.3rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    line-height: 1.5rem;
}
.central__central__left svg {
    width: 1rem;
    height: 1rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
}



.change-color {
    position: relative;
    bottom: 3rem;
    left: 17rem;
}
input {
    display: none;
  }
  span:checked::before {
    width: 40px;
    height: 40px;
    display:flex;
    content: '\f00c';
    font-size: 25px;
    font-weight:bold;
    position: absolute;
    align-items:center;
    justify-content:center;
    font-family:'Font Awesome 5 Free';
  }
  span:checked::after {
    -webkit-animation: click-wave 0.65s;
    -moz-animation: click-wave 0.65s;
    animation: click-wave 0.65s;
    background: #40e0d0;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
  }
  
  .button {
    display: inline-block;
    position: relative;
    width: 1rem;
    height: 1rem;
    margin: 0.5rem;
    cursor: pointer;
  }
  
  .button span {
    display: block;
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    padding: 0;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: #eeeeee;
    transition: ease .3s;
  }
  
  .button span:hover {
    appearance: none;
    /* Safari support */
    -webkit-appearance: none;
    padding: 0.3rem;
  }
  .orange .button span {
    background: #FF5722;
  }
  
  .amber .button span {
    background: #FFC107;
  }
  
  .lime .button span {
    background: #8BC34A;
  }
  
  .teal .button span {
    background: #009688;
  }
  
  .blue .button span {
    background: #2196F3;
  }
  
  .indigo .button span {
    background: #3F51B5;
  }
  
  .layer {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: transparent;
    transition: ease .3s;
    z-index: -1;
  }
  
  .amber input:checked ~ .layer {
    background: #FFB300;
  }
  
  .lime input:checked ~ .layer {
    background: #7CB342;
  }
  
  .teal input:checked ~ .layer {
    background: #00897B;
  }
  
  .blue input:checked ~ .layer {
    background: #1E88E5;
  }
  
  .indigo input:checked ~ .layer {
    background: #3949AB;
  }

.central__central__right {
    padding: 10vh 5vw;
}
.central__central__right div{
    padding-top: 1.5rem;
}
.central__central__right_neck {
    width: 8rem;
    padding-left: 1.5rem;
}
.central__price {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: flex;
    bottom: 3vw;
    color: white;
    z-index: 1;
}
.central__price img {
    height: 15vh;
    width: 15vw;
}
.central__price a {
    color: rgb(180, 180, 180);
    text-decoration: none;
}
.central__price p {
    color: rgb(115, 117, 125);
}
p, h3 {
    margin: 0.3rem;
}
.central__price div {
    width: 20vw;
    text-align: center;
}
.central__footer {
    height:0px;
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10rem 9%;
    background-color: black;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
    box-sizing:border-box;
}

