body {
    width: 100vw;
    height: 100wh;
    background-color: rgb(206, 182, 159);
}
.central {
    overflow:hidden;
    background-color: rgb(251, 246, 236);
    width: 80vw;
    height: 90vh;
    margin: 5vh 10vw 5vh 10vw;
    border-radius: 1rem;
    box-shadow: 0 0 0 1rem rgb(249, 252, 255);
    z-index: 3;
}
.central__header {
    display: flex;
    padding-top: 3vw;
}
.central__header__logo {
    padding-left: 7vw;
}
.central__header__navigation {
    padding-left: 10vw;
}
.central__header__navigation a {
    padding-left: 7vw;
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.central__header__buttons {
    padding-left: 15vw;
    text-align: center;
}
.central__header__buttons button {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: rgb(234, 231, 224) 0.15rem solid;
    cursor: pointer;
}
.central__header__buttons_bag {
    justify-content: center;
    align-items: center;
    background-color: rgba(28,28,28,0);
    background-image: url('../images/bag.svg');
    background-size: 1.8rem 1.8rem;
}
.central__header__buttons_person {
    justify-content: center;
    align-items: center;
    background-color: rgba(28,28,28,0);
    background-image: url('../images/person.svg');
    background-size: 1.7rem 1.7rem;
}
.central__central {
    display: flex;
    height: 28vw;
}
.central__central__left {
    width: 70vw;
    padding-left: 7vw;
    padding-top: 6vw;
}
.central__central__left span {
    color: rgb(236, 89, 64);
}
h1::before {
    content: "";
    position: absolute;
    left: 33.5vw;
    bottom: 58vh;
    width: 9rem;
    height: 0.5rem;
    transform: translateX(-50%);
    background: rgb(236, 89, 64, 0.5);
    z-index: 1;
}
.central__central__left h2 {
    color: rgb(236, 89, 64);
}
.central__central__left_btn {
    padding: 0.3rem 0 0.3rem 1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10rem;
    cursor: pointer;
    line-height: 1.5rem;
}
.central__central__left svg {
    width: 1rem;
    height: 1rem;
    padding-left: 2rem;
    padding-right: 0.5rem;
}


#radios{
    width: 10rem;
    height: 2.5rem;
    top: 26rem;
    left: 10rem;
    margin: 0 10vh 5vw 0;
    position: absolute;
    border-radius: 5rem;
    margin-left: 50vh;
    background: #fff;
}
input[type="radio"]{
    position: absolute;
    right: 1000%;
    z-index: 1;
}
label{
    float:left;
    width:15%; padding-bottom:15%;
    margin:0 2.5%;
    background:rgba(255,255,255);
    border-radius:50%;
    cursor:pointer;
}
#input1 label{
    color: rgb(74, 58, 56);
}
#input2 {
    background-color: rgb(74, 58, 56);
}
#input3 {
    background-color: rgb(74, 58, 56);
}
#input4 {
    background-color: rgb(74, 58, 56);
}
#slider{
    position: absolute;
    left: 0;
    top: 0;
    width: 20%;
    padding-bottom: 20%;
    margin: 2.5% 0 0 5%;
    background: rgba(28,28,28,0.2);
    transition: transform 1s;
    border-radius: 50%;
    animation-timing-function: ease-in-out;
    animation-duration: .3s;
    animation-fill-mode: forwards;
    transition: 0.2s left .05s ease-in-out;
}
#input1:checked  ~ #slider{ animation-name: input1; left:0; }
#input2:checked  ~ #slider{ animation-name: input2; left:20%; }
#input3:checked  ~ #slider{ animation-name: input3; left:40%; }
#input4:checked  ~ #slider{ animation-name: input4; left:60%; }

.central__central__right {
    padding: 10vh 5vw;
}
.central__central__right_neck {
    padding-left: 1.5rem;
}
.central__price {
    padding-top: 5rem;
    padding-left: 8vw;
    position: absolute;
    display: flex;
    bottom: 3vw;
    color: white;
    z-index: 5;
}
.central__price img {
    height: 15vh;
    width: 15vw;
}
.central__price div {
    text-align: center;
    padding-right: 10rem;
}
.central__footer {
    display: block;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10rem 9%;
    background-color: black;
    clip-path: polygon(0 35%, 100% 0, 100% 100%, 0 100%);
    box-sizing:border-box;
}